.yo-preview.has-yooextendtoolbar-toolbar {
    flex-wrap: wrap;
    overflow: hidden;
}

.yo-preview.has-yooextendtoolbar-toolbar .yo-preview-iframe {
    height: calc(100% - 40px);
}

.yooextendtoolbar-toolbar {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #eaeaea;
    position: relative;
    z-index: 99;
}

.yooextendtoolbar-toolbar .buttons {
    height: 100%;
    align-items: center;
}